* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Hubballi, Arial, sans-serif; 
    
}

main,
header {
    border-top: 7px dashed rgb(20, 55, 211);
    border-right: 7px dashed rgb(212, 212, 12);
    border-bottom: 7px dashed rgb(212, 212, 12);
    border-left: 7px dashed rgb(20, 55, 211);
    padding: 0.5em 0.3em;
}

header {
    display: flex;
    justify-content: center;

}

.nav {
    list-style-type: none;
    display: inline;
    margin: 1em;
    text-decoration: none;
    margin-left: 2em;
}

h1, 
h2 {
    text-transform: uppercase;
    width:100%;
    margin: auto;
    display: inline;
}

p {
    line-height: 1.2em;
}

.contact {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.middle {
    display: flex;
    justify-content: center;
}

form {
    display: inline-block;
    padding: 3em;
    margin: 5em 0 5em 0;
    border-top: 7px dashed rgb(20, 55, 211);
    border-right: 7px dashed rgb(212, 212, 12);
    border-bottom: 7px dashed rgb(212, 212, 12);
    border-left: 7px dashed rgb(20, 55, 211);
    text-align: center;
    border-radius: 10%;
}

/*COMICS*/

.about {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.comic {
    width: 100%;
    margin-bottom: 2em;
    border-top: 7px dashed rgb(20, 55, 211);
    border-right: 7px dashed rgb(212, 212, 12);
    border-bottom: 7px dashed rgb(212, 212, 12);
    border-left: 7px dashed rgb(20, 55, 211);
}

.header2 {
    text-align: center;
    margin: 1em 0 1em 0;
    font-size: 50px;

}

img {
    border-radius: 10%;
}


@media (min-width: 700px) {
    .nav {
        font-size: 1.7em;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .about {
        flex-wrap: nowrap;
        width: 50%;
    }
}


